<h1 style="text-align: center; text-decoration:underline;">Admin Dashboard</h1>
<div class="card  container" style="width: 450px;">
    
        <div class="col-md-12 text-center mt-4">
        <button (click)="showPassengers()" class="btn btn-success">Manage Passengers</button>
        </div>
        <br><br>
        <div  (click)="showTrains()" class="col-md-12 text-center">
        <button  class="btn btn-success">Manage Trains</button>
        </div>
        <br><br>
        <div (click)="showTickets()" class="col-md-12 text-center mb-5">
        <button  class="btn btn-success">Manage Tickets</button>
        </div>
   
</div>