

<div class="card" style=" padding: 40px;">
    <h3> View Train Details</h3>
    <div>
        <label> <b> Train Id: </b></label> {{train.trainId}}
    </div>
    <div>
        <label> <b> Train Number: </b></label> {{train.trainNumber}}
    </div>
    <div>
        <label> <b> Train Name: </b></label> {{train.trainName}}
    </div>
    <div>
        <label> <b> source: </b></label> {{train.source}}
    </div>
    <div>
        <label> <b> Destination: </b></label> {{train.destination}}
    </div>
    <div>
        <label> <b> Fare: </b></label> {{train.fare}}
    </div>
    <div>
        <label> <b> AvailableSeats: </b></label> {{train.availableSeats}}
    </div>
</div>