<div class="card container">
<h2> View Ticket Details</h2>
<div>
    <div>
        <label> <b> Ticket Id: </b></label> {{ticket.ticketId}}
    </div>
    <div>
        <label> <b> Train Id: </b></label> {{ticket.trainId}}
    </div>
    <div>
        <label> <b> Passenger Id: </b></label> {{ticket.id}}
    </div>
    <div>
        <label> <b> Passenger Name: </b></label> {{ticket.passengerName}}
    </div>
    <div>
        <label> <b> Gender: </b></label> {{ticket.gender}}
    </div>
    <div>
        <label> <b> Email: </b></label> {{ticket.email}}
    </div>
    <div>
        <label> <b> Age: </b></label> {{ticket.age}}
    </div>
    <div>
        <label> <b> Phone No: </b></label> {{ticket.phoneNo}}
    </div>
    <div>
        <label> <b> Required Seats: </b></label> {{ticket.requiredSeats}}
    </div>
    <div>
        <label> <b> Booked On: </b></label> {{ticket.bookedOn}}
    </div>
</div>
</div>