<div class="bootstrap-wrapper">
    <div class="container" >
        <div class="row">
            <div class="col-md-6 offset-md-3 mt-4">

    <mat-card style="padding: 20px;">
    <h1 class="text-center"><b>Register Passenger</b></h1>
    <form (ngSubmit) = "onSubmit()">
    
        <!-- <div class="form-group">
            <label> User Name</label>
            <input type="text" class ="form-control" id = "username"
                [(ngModel)] = "passenger.username" name = "username" required>
        </div>
        <br>
        <div class="form-group">
            <label> Email Id</label>
            <input type="text" class ="form-control" id = "email"
                [(ngModel)] = "passenger.email" name = "email" required>
        </div>
        <br>
        <div class="form-group">
            <label> Password</label>
            <input type="password" class ="form-control" id = "password"
                [(ngModel)] = "passenger.password" name = "password" required>
        </div>
        <br> -->

        
        <mat-form-field class="full-width">
            <mat-label>UserName</mat-label>
            <input type="text" name="username" [(ngModel)]="passenger.username" required matInput placeholder="Enter username" />
            <mat-hint>Enter Unique Name</mat-hint>
        </mat-form-field>
      
        <mat-form-field class="full-width" >
            <mat-label>Email</mat-label>
            <input type="text" name="email" [(ngModel)]="passenger.email" required matInput placeholder="Enter email" />
            <mat-hint>Enter Email</mat-hint>
        </mat-form-field>
    
    
        <mat-form-field class="full-width" >
            <mat-label>Password</mat-label>
            <input type="password" name="password" [(ngModel)]="passenger.password" required matInput placeholder="Enter password" />
        </mat-form-field>
    

        <div class="container text-center mb-3">
        <button mat-raised-button color="primary"  type ="submit">Register</button>
        </div>

    </form>
</mat-card>

</div>
</div> 
</div>
</div>
